<h2>List of Events</h2>
<div>
  <% @event.each do |event| %>

  <p>
   <strong>Event:</strong><%= event.name %>
   </p>

    <p>
    <strong>Event:</strong><%= event.location %>
    </p>

    <p>
    <strong>Event:</strong><%= event.date %>
    </p>

    <p>
    <strong>Event:</strong><%= event.description %>
    </p>
  <% end %>
</div>
