<nav>
  <ul>
    <li><%= link_to 'All Events', events_path %></li>
    <li><%= link_to 'Create Event', new_event_path  %></li>
    <% if logged_in?  %>
    <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
    <% else %>
    <li><%= link_to 'Sign Up', new_user_path %></li>
    <% end %>
  </ul>

</nav>
